vendor/
tests/
logs/
composer.phar
composer.lock
.DS_Store
/node_modules
/vendor
.idea
.idea/
/.idea
/.idea/*
/.vscode
/nbproject
/.vagrant
npm-debug.log
yarn-error.log
.phpunit.result.cache
.ecophacs-conf
run/
*.log
*~

\.php_cs\.cache
