[Unit]
Description=The EcoPhacs-Daemon is the interface between your console and your bots via ecovacs API
After=Network

[Service]
ExecStart=/usr/sbin/foo-daemon
Type=forking
ExecStart=/usr/local/lib/php

[Install]
WantedBy=multi-user.target
